td,
th {
  padding: 15px;
  text-align: left;
  font-size: 20px;
}
tr:hover {
  cursor: pointer;
  transform: scale(1.01);
}

tbody tr:nth-child(odd) {
  background-color: #eed9d9;
}
tbody tr:nth-child(even) {
  background-color: #f5c9c9;
}
.hovereffect:hover {
  transform: scale(1.2);
  
}
.dashboard {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}


